@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center card-mb-3">
    <img class="card-img-top" src="~/Images/Eya-tictactoe.png" alt="Tictactoe image" />  
</div>

<div class="row text-center" id="StartGame">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Single Player</h5>
                    <p class="card-text">Play with the computer.</p>
                    <a href="#" class="btn btn-secondary">Click to Start</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Multiplayer</h5>
                    <p class="card-text">Here, you can play with a Friend.</p>
                    <a asp-area="" asp-controller="GameWindow" asp-action="Index" class="btn btn-secondary">Click to Start</a>
                </div>
            </div>
        </div>
</div>
